<div class="row picture-row">
    <div class="hidden-xs col-sm-12 col-md-6">
        <img src="images/best_buds.svg" class="img-rounded img-responsive gang">
    </div>
    <div class="col-sm-12 col-md-6">
        <h2 class="text-center">My Portoflio App</h2>
        <p>Thank you for taking the time to check out my page! My name is Thomas Greco and I am a self taught web developer living in New York City. During this time, I displayed great focus and determination to develop my current skillset. I even published the second most popular article on SitePoint.com during the month of June. That said, I opted to write <a href="http://bit.ly/SitePointDataLibraries">this article</a> regardless of having any prior knowlegde entail data visulization. Currently, I am in the midst starting my professional career as a freelance developer! That being said, I am currently seeking to fulfill the role of a Junior Developer for a team that will help me become the best developer I can be!</p>
    </div>